body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  background: #1e293b;
}

.upload {
  text-align: center;
  margin: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.loadouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #1e293b;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.like-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.like-section button {
  background: #1f1f1f;
  border: 1px solid #ff0033;
  color: #ff0033;
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.like-section button:hover {
  background: #ff0033;
  color: #000;
}

.like-count {
  font-weight: bold;
}
.like-section button.liked {
  background: #ff0033;
  color: #000;
}
.interaction-box {
  margin-top: 15px;
  background: #111;
  padding: 10px;
  border-radius: 10px;
}

.rating span {
  font-size: 20px;
  cursor: pointer;
  color: gray;
}

.rating span:hover,
.rating span.active {
  color: gold;
}

.comments input {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.comments button {
  padding: 5px 10px;
  margin-left: 5px;
  background: #22c55e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#comment-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

#comment-list li {
  background: #222;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}